.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background: rgba(255, 255, 255, 0.96);

  border-bottom: 1px solid #e5e5e5;

  z-index: 1000;
}

.container {
  max-width: 1200px;

  height: 80px;

  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #1f5130;

  font-size: 24px;
  font-weight: 800;

  text-decoration: none;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #333;

  font-size: 15px;
  font-weight: 500;

  text-decoration: none;

  transition: 0.3s;
}

.nav a:hover {
  color: #1f5130;
}
.menu-button {
  display: none;

  border: none;

  background: transparent;

  font-size: 28px;

  cursor: pointer;
}

@media (max-width: 768px) {

  .container {
    height: 70px;
  }

  .menu-button {
    display: block;
  }

  .nav {
    position: absolute;

    top: 70px;
    left: 0;

    width: 100%;

    padding: 20px;

    background: white;

    display: none;

    flex-direction: column;

    gap: 20px;

    border-bottom: 1px solid #e5e5e5;
  }

  .nav.open {
    display: flex;
  }

}