html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  background: #ffffff;

  color: #222;
}

::selection {
  background: #1f5130;

  color: white;
}